@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
body {
  margin: 0px;
  padding: 0px;
  background: #FFFFFF; }

#top,
#languages img,
#buses-search-bar div > button,
#buttons-nav,
.buttons-menu > li,
#poster,
.busNumbers {
  height: 100%; }

#languages,
#languages-list,
#languages img,
#buttons-nav,
#poster,
#footer-middle,
#icons-box {
  width: 100%; }

#top {
  line-height: 70px; }

#top,
#top img {
  min-height: 70px; }

#top img {
  max-width: 300px; }
  @media screen and (max-width: 640px) {
    #top img {
      margin: auto;
      float: none;
      display: block; } }

@media screen and (max-width: 767px) {
  #top-text {
    display: none; } }

#top-text p {
  display: inline; }

#languages,
#top,
#top-text,
.buttons-menu a,
#footer,
.busesReadingList
#footer-icons h4 {
  font-family: Ubuntu; }

#buttons-nav,
#footer-container,
#icons-box {
  margin: auto; }

top-data p,
#buses-search-bar div > button span
.footer-Buses {
  font-size: 16px; }

#top-text,
#languages,
#buses-search-bar,
.busesReadingList {
  float: right; }

@media screen and (max-width: 640px) {
  #top-text,
  #buses-search-bar {
    display: none; } }

#buses-search-bar {
  margin-top: 0px !important;
  margin-right: 0px !important; }
  @media screen and (max-width: 767px) {
    #buses-search-bar {
      height: 100%;
      min-height: 50px; } }
  #buses-search-bar input[type="search"] {
    max-width: 125px; }
  #buses-search-bar input[type="search"],
  #buses-search-bar div > button {
    min-height: 34px;
    border-radius: 0%; }
    @media screen and (max-width: 767px) {
      #buses-search-bar input[type="search"],
      #buses-search-bar div > button {
        float: left; } }

#navigation-menu,
#button-toggle:hover,
#button-toggle:focus {
  background: #C62828 !important; }

#navigation-menu {
  margin-bottom: 0px;
  border-radius: 0px !important;
  min-height: 60px !important; }
  #navigation-menu #button-toggle {
    border: 2px solid #FFFFFF !important;
    border-radius: 8px !important; }
    @media screen and (max-width: 767px) {
      #navigation-menu #button-toggle {
        margin-top: 12px !important; } }

#navigation-menu,
.nav-button-menu {
  border: #C62828 !important; }

#languages,
.nav-button-menu,
#footer {
  background: #C62828; }

.nav-button-menu {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  @media screen and (max-width: 767px) {
    .nav-button-menu {
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
      position: absolute;
      z-index: 1; } }

#buttons-nav,
.buttons-menu,
.buttons-menu a:hover {
  min-height: 60px; }

.buttons-menu a,
.footer-Reading {
  font-size: 17px; }

#languages {
  max-width: 100px;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid #CCCCCC;
  margin: 15px 15px 0px 0px;
  padding: 5px; }
  #languages a {
    text-decoration: none;
    color: #FFFFFF !important; }
  #languages .caret-languages {
    margin-left: 5px; }
  #languages #languages-list {
    line-height: 20px;
    min-width: 98px;
    border-radius: 0px;
    padding: 10px;
    margin: 0px !important; }
    #languages #languages-list li {
      margin-top: 10px; }
      #languages #languages-list li:first-child {
        margin-top: 0px; }
      #languages #languages-list li img {
        max-width: 20px;
        min-height: 16px; }

#buttons-nav {
  max-width: 500px;
  float: none; }
  @media screen and (max-width: 767px) {
    #buttons-nav {
      max-width: 100%; } }
  #buttons-nav .buttons-menu {
    line-height: 60px; }
    #buttons-nav .buttons-menu a {
      line-height: 25px;
      color: #FFFFFF !important; }
      #buttons-nav .buttons-menu a:hover {
        background: #D32F2F;
        border-bottom: 5px solid #FF5252; }
        @media screen and (max-width: 767px) {
          #buttons-nav .buttons-menu a:hover {
            border-bottom: 0px; } }

#top-text > p > span:hover,
#languages-list li,
.busNumbers > a:hover,
#footer-icons > img,
.footer-middle-list li > a:hover,
#icons-box img:hover {
  cursor: pointer; }

#footer-texts,
#footer-middle,
.footer-middle-list,
#footer-icons {
  float: left; }

.sitemap,
.useful-links,
.footer-Buses,
.great-knollys-street,
.telephone-number {
  font-size: 17px; }

#top img,
input[type="search"],
.busesReadingList,
#footer,
#footer-texts {
  width: 100%;
  height: 100%; }

#middle {
  overflow: auto; }

#poster {
  min-height: 550px;
  background-image: url("../Images/poster.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  @media screen and (max-width: 799px) {
    #poster {
      display: none; } }

#back-button {
  margin: 1% 0% 1% 2%; }
  #back-button span:nth-child(2) {
    margin-left: 5px; }

.busesReadingList {
  max-width: 450px;
  max-height: 350px;
  overflow-y: scroll;
  margin: 2% 0%;
  border: 2px solid #CCCCCC; }
  @media screen and (max-width: 799px) {
    .busesReadingList {
      margin: 2% auto;
      float: none; } }
  .busesReadingList .busDetails {
    margin-bottom: 0px !important; }
    .busesReadingList .busDetails .busNumbers,
    .busesReadingList .busDetails .busDestination {
      font-size: 18px; }
      @media screen and (min-width: 320px) and (max-width: 384px) {
        .busesReadingList .busDetails .busNumbers,
        .busesReadingList .busDetails .busDestination {
          font-size: 12px; } }
      @media screen and (min-width: 385px) and (max-width: 480px) {
        .busesReadingList .busDetails .busNumbers,
        .busesReadingList .busDetails .busDestination {
          font-size: 14px; } }
      @media screen and (min-width: 481px) and (max-width: 512px) {
        .busesReadingList .busDetails .busNumbers,
        .busesReadingList .busDetails .busDestination {
          font-size: 16px; } }
    .busesReadingList .busDetails .busNumbers > a {
      color: #000000; }
      .busesReadingList .busDetails .busNumbers > a:hover {
        text-decoration: none; }

#footer,
#footer-container {
  min-height: 170px; }

#footer #footer-container {
  max-width: 1165px;
  overflow: hidden; }
  #footer #footer-container #footer-texts {
    max-width: 385px;
    padding-top: 10px; }
    #footer #footer-container #footer-texts p {
      padding: 1% 0% 0% 1%; }
      #footer #footer-container #footer-texts p .sitemap {
        padding-right: 10px; }
      #footer #footer-container #footer-texts p .useful-links {
        padding-left: 10px; }
      #footer #footer-container #footer-texts p .footer-Reading {
        font-weight: bold; }
      #footer #footer-container #footer-texts p .footer-Buses {
        color: #F7A600; }
  #footer #footer-container #footer-middle {
    max-width: 420px; }
    #footer #footer-container #footer-middle .footer-middle-list {
      margin: 2% 0% 0% 10%; }

#footer,
.footer-middle-list li > a {
  color: #FFFFFF; }

.footer-middle-list > li,
#followUs-section {
  margin-top: 3%; }

@media screen and (max-width: 767px) {
  #footer-texts,
  #footer-middle {
    display: none; } }

#footer-icons {
  max-width: 350px;
  padding-top: 0.3%; }
  @media screen and (max-width: 767px) {
    #footer-icons {
      margin: auto;
      float: none; } }
  #footer-icons #followUs-section #icons-box {
    max-width: 235px; }
    #footer-icons #followUs-section #icons-box img {
      max-width: 35px;
      min-height: 35px;
      margin-left: 3.5%; }

