@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

$max-size: 100%;
$dark-red: #C62828;
$main-font-size: 16px;
$main-font-family: Ubuntu;
$white: #FFFFFF;
$black: #000000;

@mixin max-width-height-sizes {
    width: 100%;
    height: 100%;
}

@mixin positions-group {
     margin: auto;
     float: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: $white;
}
#top,
#buses-search-bar div>button,
#buttons-nav,
.buttons-menu>li,
#poster,
.busNumbers {
    height: $max-size;
}
#languages,
#languages-list li img,
#poster,
#footer-middle,
#icons-box {
    width: $max-size;
}
#top,
#top img {
    max-height: 70px;
}
#top img {
    max-width: 300px;
    @media screen and (max-width: 640px) {
        @include positions-group;
        display: block;
    }
}
#top-data {
    margin-top: 1.75%;
    @media screen and (max-width: 799px) {
        margin-top: 3%;
    }
    p {
        display: inline;
    }
}
#top,
#top-data,
#buttons-nav .buttons-menu a,
#languages,
#footer,
.busesReadingList
#footer-icons h4 {
    font-family: $main-font-family;
}
top-data p,
#buses-search-bar div>button span
.footer-Buses {
    font-size: $main-font-size;
}
#top-data,
#buses-search-bar {
    float: right;
    @media screen and (max-width: 640px) {
        display: none;
    }
}
#buses-search-bar {
    margin: 1.3% 1% 0% 0%;
    @media screen and (max-width: 767px) {
        height: $max-size;
        max-height: 50px;
    }
    @media screen and (max-width: 799px) {
        margin-top: 2.1%;
    }
    input[type="search"] {
        max-width: 125px;
    }
    input[type="search"],
    div>button {
        max-height: 34px;
        border-radius: 0%;
        @media screen and (max-width: 767px) {
            float: left;
        }
    }
}
#buttons-nav .buttons-menu>a,
#languages a,
#footer,
.footer-middle-list li>a {
    color: $white;
}
#navigation-menu,
#button-toggle:hover,
#button-toggle:focus {
    background: $dark-red !important;
}
#navigation-menu {
    margin-bottom: 0px;
    border-radius: 0px !important;
    min-height: 60px !important;
    #button-toggle {
        border: 2px solid $white !important;
        border-radius: 8px !important;
        @media screen and (max-width: 767px) {
            margin-top: 12px !important;
        }
    }
}
#navigation-menu,
.entire-button-menu {
    border: $dark-red !important;
}
.entire-button-menu,
#footer {
    background: $dark-red;
}
.entire-button-menu {
    padding-left: 0px !important;
    padding-right: 0px !important;
    @media screen and (max-width: 767px) {
        width: $max-size;
        padding-left: 0px !important;
        padding-right: 0px !important;
        position: absolute;
        z-index: 1;
    }
}
#buttons-nav,
.buttons-menu,
.buttons-menu a:hover {
    max-height: 60px;
    @media screen and (max-width: 767px) {
        max-height: 100%;
    }
}
.buttons-menu a,
.footer-Reading {
    font-size: $main-font-size + 1px;
}
#buttons-nav {
    margin: 0% 14.5%;
    @media screen and (max-width: 899px) {
        margin: 0%;
    }
    @media screen and (min-width: 900px) and (max-width: 1023px) {
        margin: 0% 7%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1080px) {
        margin: 0% 9%;
    }
    @media screen and (min-width: 1280px) and (max-width: 1300px) {
        margin: 0% 11%;
    }
    .buttons-menu {
        line-height: 60px;
        a {
            line-height: 30px;
            @media screen and (min-width: 768px) and (max-width: 799px) {
                padding: 15px 12px;
            }
            @media screen and (min-width: 800px) and (max-width: 899px) {
                font-size: $main-font-size;
            }
            &:hover {
                background: #D32F2F;
                border-bottom: 5px solid #FF5252;
                @media screen and (max-width: 767px) {
                    border-bottom: 0px;
                }
            }
        }
    }
}
#top-data>p>span:hover,
#languages,
#footer-icons>img,
.footer-middle-list li>a:hover,
#icons-box img:hover {
    cursor: pointer;
}
#languages,
#languages-list li img,
#footer-texts,
#footer-middle,
.footer-middle-list,
#footer-icons {
    float: left;
}
#languages,
.sitemap,
.useful-links,
.footer-Buses,
.great-knollys-street,
.telephone-number {
    font-size: $main-font-size - 1px;
}
#languages {
    padding: 5px;
    margin-top: 14px;
    border: 1px solid $white;
    max-width: 100px;
    @media screen and (max-width: 899px) {
        display: none;
    }
    a {
        text-decoration: none;
        .caret-languages {
            margin-left: 3px;
        }
    }
    #languages-list {
        min-width: 100px !important;
        text-align: left !important;
        border-radius: 0px !important;
        left: -1px;
        margin-top: 1px;
        border: 1px solid #CCCCCC;
        li {
            margin-top: 4px;
            &:hover {
                background: #F2F1F1;
                transition: background 0.3s ease-out;
                -webkit-transition: background 0.3s ease-out;
                -moz-transition: background 0.3s ease-out;
                -o-transition: background 0.3s ease-out;
            }
            img {
                margin: 0px 4px 0px 10px;
                max-width: 20px;
                position: relative;
                top: 4px;
            }
        }
    }
}
#top img, 
input[type="search"],
.busesReadingList,
#footer,
#footer-texts {
    @include max-width-height-sizes;
}
#poster {
    max-height: 600px;
    background-image: url("../Images/poster.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media screen and (max-width: 799px) {
        display: none;
    }
}
.busesReadingList {  
    max-width: 450px; 
    max-height: 250px;
    overflow-y: scroll;
    margin: 2% 0%;
    border: 2px solid #CCCCCC; 
    @media screen and (max-width: 799px) {
        margin: 2% auto;
        float: none;
    }
    .busDetails {
        margin-bottom: 0px !important;
        .busNumbers,
        .busDestination {
            font-size: $main-font-size + 2px;
            @media screen and (min-width: 320px) and (max-width: 384px) {
                font-size: $main-font-size - 1px;
            }
            @media screen and (min-width: 385px) and (max-width: 480px) {
                font-size: $main-font-size;
            }
            @media screen and (min-width: 481px) and (max-width: 512px) {
                font-size: $main-font-size + 1px;
            }
        }
        .busNumbers>a {
            color: $black;
            &:hover {
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
#footer,
 #footer-container {
    max-height: 170px;
}
#footer-container,
#icons-box {
    margin: auto;
}
#footer {
    #footer-container {
        max-width: 1165px;
        overflow: hidden;
        padding-top: 1%;
        #footer-texts {
            max-width: 385px;
            p {
                padding: 1% 0% 0% 1%;
                .sitemap {
                    padding-right: 10px;
                }
                .useful-links {
                    padding-left: 10px;
                }
                .footer-Reading {
                    font-weight: bold;
                }
                .footer-Buses {
                    color: #F7A600;
                }
            }
        }
        #footer-middle {
            max-width: 420px;
            .footer-middle-list {
                margin-left: 10%;
            }
        }
    }
}
.footer-middle-list>li,
#followUs-section {
    margin-top: 3%;
}
#footer-icons {
    max-width: 350px;
    h4 {
        margin-top: 4px;
        text-align: center;
    }
    #followUs-section {
        #icons-box {
            max-width: 235px;
            img {
                max-width: 35px;
                max-height: 35px;
                margin-left: 3.5%;
            }
        }
    }
}
