@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

$max-size: 100%;
$dark-red: #C62828;
$ubuntu: Ubuntu;
$white: #FFFFFF;
$black: #000000;

@mixin max-width-height-sizes {
    width: 100%;
    height: 100%;
}
@mixin positions-group {
     margin: auto;
     float: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: $white;
}
#topSection,
#languagesMenu > img,
#buses-search-bar div > button,
#buttonsNav,
.buttons-list > li,
#poster,
.busNumbers {
    height: $max-size;
}
#languagesMenu,
#languagesList,
#languagesMenu > img,
#buttonsNav,
#poster,
#buyATicket,
#footerMiddle,
#iconsBox {
    width: $max-size;
}
#topSection {
    line-height: 70px;
}
#top,
#topSection > img[title="Logo"] {
    min-height: 70px;
}
#topSection > img[title="Logo"] {
    max-width: 300px;
    @media screen and (max-width: 640px) {
        @include positions-group;
        display: block;
    }
}
#topText {
    @media screen and (max-width: 767px) {
        display: none;
    }
    & > p {
        display: inline;
    }
} 
#languagesMenu,
#top,
#topText,
.buttons-list a,
#footer,
#busesReadingList
#footerIcons > h4 {
    font-family: $ubuntu;
}
#buttonsNav,
#footerContainer,
#iconsBox {
    margin: auto;
}
top-data p,
#busesSearchBar div > button span
.footer-buses {
    font-size: 16px;
}
#topText,
#languagesMenu,
#busesSearchBar,
#busesReadingList {
    float: right;
}
#topText,
#busesSearchBar {
    @media screen and (max-width: 640px) {
        display: none;
    }
}
#busesSearchBar {
    margin-top: 0px !important;
    margin-right: 0px !important;
    @media screen and (max-width: 767px) {
        height: $max-size;
        min-height: 50px;
    }
    input[type="search"] {
        max-width: 125px;
    }
    input[type="search"],
    & > button {
        min-height: 34px;
        border-radius: 0%;
        @media screen and (max-width: 767px) {
            float: left;
        }
    }
}
#navigationMenu,
#button-toggle:hover,
#button-toggle:focus {
    background: $dark-red !important;
}
#navigationMenu {
    margin-bottom: 0px;
    border-radius: 0px !important;
    min-height: 60px !important;
    #button-toggle {
        border: 2px solid $white !important;
        border-radius: 8px !important;
        @media screen and (max-width: 767px) {
            margin-top: 12px !important;
        }
    }
}
#navigationMenu,
.nav-button-menu {
    border: $dark-red !important;
}
#languagesMenu,
.nav-button-menu,
#buyATicket,
#footer {
    background: $dark-red;
}
.nav-button-menu {
    padding-left: 0px !important;
    padding-right: 0px !important;
    @media screen and (max-width: 767px) {
        width: $max-size;
        padding-left: 0px !important;
        padding-right: 0px !important;
        position: absolute;
        z-index: 1;
    }
}
#buttonsNav,
.buttonsMenu,
.buttonsMenu > a:hover {
    min-height: 60px;
}
#buttonsMenu a,
.footer-Reading {
    font-size: 17px;
}
#languagesMenu {
    max-width: 100px;
    font-size: 15px;
    line-height: 25px;
    border: 1px solid #CCCCCC;
    margin: 15px 15px 0px 0px;
    padding: 5px;
    @media screen and (max-width: 767px) {
        display: none;
    }
    & > a {
        text-decoration: none;
        color: $white !important;
    }
    .caret-languages {
        margin-left: 5px;
    }
    #languagesList {
        line-height: 20px;
        min-width: 98px;
        border-radius: 0px;
        padding: 10px;
        margin: 0px !important;
        & > li {
            margin-top: 10px;
            &:first-child {
                margin-top: 0px;
            }
            & > img {
                max-width: 20px;
                min-height: 16px;
            }
        }
    }
}
#buttonsNav {
    max-width: 500px;
    float: none;
    @media screen and (max-width: 767px) {
        max-width: 100%;
    }
    .buttons-list {
        line-height: 60px;
        & > a {
            line-height: 25px;
            color: $white !important;
            @media screen and (max-width: 767px) {
                line-height: 38px;
            }
            &:hover {
                background: #D32F2F;
                border-bottom: 5px solid #FF5252;
                @media screen and (max-width: 767px) {
                    border-bottom: 0px;
                }
            }
        }
    }
}
#topText > p > span:hover,
#languagesList > li,
.bus-numbers > a:hover,
#footerIcons > img,
.footer-middle-list > li > a:hover,
#iconsBox > img:hover {
    cursor: pointer;
}
#buyATicket > input,
#buyATicket > label,
#footerTexts,
#footerMiddle,
.footer-middle-list,
#footerIcons {
    float: left;
}
.sitemap,
.useful-links,
.footer-Buses,
.great-knollys-street,
.telephone-number {
    font-size: 17px;
}
#topSection > img[title="Logo"], 
input[type="search"],
.buses-reading-list,
#footer,
#footerTexts {
    @include max-width-height-sizes;
}
#middle {
    overflow: auto;
}
#buyATicket {
    max-width: 360px;
    position: absolute;
    top: 180px;
    left: 40px;
    padding: 15px;
    color: $white;
    & > div {
        margin-left: 10px;
        margin-right: 10px;
    }
}
#poster {
    min-height: 550px;
    background-image: url("../Images/poster.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    @media screen and (max-width: 799px) {
        display: none;
    }
}
.back-button {
    margin: 1% 0% 1% 2%;
    & > span:nth-child(2) {
        margin-left: 5px;
    }
}
.buses-reading-list {  
    max-width: 450px; 
    max-height: 350px;
    overflow-y: scroll;
    margin: 2% 0%;
    border: 2px solid #CCCCCC;
    @media screen and (max-width: 799px) {
        margin: 2% auto;
        float: none;
    }
    & > .bus-details {
        margin-bottom: 0px !important;
        & > .bus-numbers,
        & > .bus-destination {
            font-size: 18px;
            @media screen and (min-width: 320px) and (max-width: 384px) {
                font-size: 12px;
            }
            @media screen and (min-width: 385px) and (max-width: 480px) {
                font-size: 14px;
            }
            @media screen and (min-width: 481px) and (max-width: 512px) {
                font-size: 16px;
            }
        }
        & > .bus-numbers > a {
            color: $black;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
#footer,
 #footerContainer {
    min-height: 170px;
}
#footer {
    & > #footerContainer {
        max-width: 1165px;
        overflow: hidden;
        & > #footerTexts {
            max-width: 385px;
            padding-top: 10px;
            & > p {
                padding: 1% 0% 0% 1%;
                .sitemap {
                    padding-right: 10px;
                }
                .useful-links {
                    padding-left: 10px;
                }
                .footer-Reading {
                    font-weight: bold;
                }
                .footer-buses {
                    color: #F7A600;
                }
            }
        }
        #footerMiddle {
            max-width: 420px;
            & > .footer-middle-list {
                margin: 2% 0% 0% 10%;
            }
        }
    }
}
#footer,
.footer-middle-list > li > a {
    color: $white;
}
.footer-middle-list > li,
#followUsSection {
    margin-top: 3%;
}
#footerTexts,
#footerMiddle {
    @media screen and (max-width: 767px) {
        display: none;
    }
}
#footerIcons {
    max-width: 350px;
    padding-top: 0.3%;
    @media screen and (max-width: 767px) {
        @include positions-group;
    }
    & > #followUsSection {
        & > #iconsBox {
            max-width: 235px;
            & > .icons-box__img {
                max-width: 35px;
                min-height: 35px;
                margin-left: 3.5%;
            }
        }
    }
}
