@import url("https://fonts.googleapis.com/css?family=Ubuntu");

@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");

$max-size: 100%;
$dark-red: #C62828;
$main-font-size: 16px;
$main-font-family: Ubuntu;
$white: #FFFFFF;
$black: #000000;

@mixin max-width-height-sizes {
    width: 100%;
    height: 100%;
}

@mixin positions-group {
     margin: auto;
     float: none;
}

body {
    margin: 0px;
    padding: 0px;
    background: $white;
}
#top,
#buses-search-bar div>button,
#buttons-nav,
.buttons-menu>li,
.busNumbers {
    height: $max-size;
}
#languages,
#languages-list li img,
#poster,
#poster>img {
    width: $max-size;
}
#top,
#top img {
    max-height: 70px;
}
#top img {
    max-width: 300px;
}
#top-data {
    margin-top: 1.75%;
    p {
        display: inline;
    }
}
#top,
#top-data,
#buttons-nav .buttons-menu a,
#languages,
#footer,
.busesReadingList
#footer-icons h4 {
    font-family: $main-font-family;
}
top-data p,
#buses-search-bar div>button span
.footer-Buses {
    font-size: $main-font-size;
}
#top-data,
#buses-search-bar,
#footer-icons {
    float: right;
}
#buses-search-bar {
    margin: 1.3% 1% 0% 0%;
    @media screen and (max-width: 768px) {
        height: $max-size;
        max-height: 50px;
    }
    input[type="search"] {
        max-width: 125px;
    }
}
input[type="search"],
#buses-search-bar div>button {
    max-height: 34px;
}
#buses-search-bar input[type="search"],
#buses-search-bar div>button {
    @media screen and (max-width: 768px) {
            float: left;
    }
}
#buses-search-bar button,
#buses-search-bar input[type="search"] {
    border-radius: 0%;
}
#buttons-nav .buttons-menu>a,
#languages a,
#footer {
    color: $white;
}
#navigation-menu,
#navigation-menu #button-toggle:hover,
#navigation-menu #button-toggle:focus {
    background: $dark-red !important;
}
#navigation-menu {
    margin-bottom: 0px;
    border-radius: 0px !important;
    min-height: 60px !important;
    #button-toggle {
        border: 2px solid $white !important;
        border-radius: 8px !important;
    }
}
#navigation-menu,
.entire-button-menu {
    border: $dark-red !important;
}
.entire-button-menu,
#footer {
    background: $dark-red;
}
.entire-button-menu {
    @media screen and (max-width: 768px) {
        width: $max-size;
        padding-left: 0px !important;
        position: absolute;
        z-index: 1;
    }
}
#buttons-nav,
.buttons-menu,
.buttons-menu a:hover {
    max-height: 60px;
}
.buttons-menu a,
.footer-Reading {
    font-size: $main-font-size + 1px;
}
#buttons-nav {
    margin: 0% 14.5%;
    @media screen and (max-width: 768px) {
        margin: 0%;
    }
    .buttons-menu {
        line-height: 60px;
        a {
            line-height: 30px;
            &:hover {
                background: #D32F2F;
                border-bottom: 5px solid #FF5252;
                @media screen and (max-width: 768px) {
                    border-bottom: 0px;
                }
            }
        }
    }
}
#top-data>p>span:hover,
#languages,
#footer-icons>img {
    cursor: pointer;
}
#languages,
#languages-list li img,
#footer-texts {
    float: left;
}
#languages,
.sitemap,
.useful-links,
.footer-Buses,
.great-knollys-street,
.telephone-number {
    font-size: $main-font-size - 1px;
}
#languages {
    padding: 5px;
    margin-top: 14px;
    border: 1px solid $white;
    max-width: 100px;
    @media screen and (max-width: 768px) {
        display: none;
    }
    a {
        text-decoration: none;
        .caret-languages {
            margin-left: 3px;
        }
    }
}
#languages-list {
    min-width: 100px !important;
    text-align: left !important;
    border-radius: 0px !important;
    left: -1px;
    margin-top: 1px;
    border: 1px solid #CCCCCC;
    li {
        margin-top: 4px;
        &:hover {
            background: #F2F1F1;
        }
        img {
            margin: 0px 5px 0px 10px;
            max-width: 20px;
            position: relative;
            top: 4px;
        }
    }
}
#top img, 
input[type="search"],
.busesReadingList,
#footer,
#footer-texts {
    @include max-width-height-sizes;
}
.busNumbers,
.busDestination {
    font-size: $main-font-size + 2px;
}
.busesReadingList {   
    max-width: 450px;  
}
.busNumbers {
    color: $black;
}
.busDetails {
    margin-bottom: 0px !important;
}
.busesReadingList {  
    max-height: 250px;
    overflow-y: scroll;
    margin: 2% 0%;
    border: 5px solid #C62828; 
}
#footer,
 #footer-container {
    max-height: 175px;
}
#footer {
    #footer-container {
        max-width: 1200px;
        margin: auto;
        overflow: hidden;
        padding-top: 1%;
        #footer-texts {
            p {
                padding: 1% 0% 0% 1.5%;
                .sitemap {
                    padding-right: 10px;
                }
                .useful-links {
                    padding-left: 10px;
                }
                .footer-Reading {
                    font-weight: bold;
                }
                .footer-Buses {
                    color: #F7A600;
                }
            }
        }
    }
}
#footer-texts {
    max-width: 400px;
}
#footer-icons {
    max-width: 350px;
    h4 {
        text-align: center;
    }
}
#icons-box>img {
    max-width: 35px;
    max-height: 35px;
    margin-left: 3.5%;
}