@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css");
body {
  margin: 0px;
  padding: 0px;
  background: #FFFFFF; }

#topSection,
#languagesMenu > img,
#buses-search-bar div > button,
#buttons-nav,
.buttons-menu > li,
#poster,
.busNumbers {
  height: 100%; }

#languagesMenu,
#languagesList,
#languagesMenu > img,
#buttons-nav,
#poster,
#buyATicket,
#footerMiddle,
#iconsBox {
  width: 100%; }

#topSection {
  line-height: 70px; }

#top,
#topSection > img[title="Logo"] {
  min-height: 70px; }

#topSection > img[title="Logo"] {
  max-width: 300px; }
  @media screen and (max-width: 640px) {
    #topSection > img[title="Logo"] {
      margin: auto;
      float: none;
      display: block; } }

@media screen and (max-width: 767px) {
  #topText {
    display: none; } }

#topText > p {
  display: inline; }

#languagesMenu,
#top,
#topText,
.buttons-menu a,
#footer,
#busesReadingList
#footerIcons > h4 {
  font-family: Ubuntu; }

#buttons-nav,
#footerContainer,
#iconsBox {
  margin: auto; }

top-data p,
#busesSearchBar div > button span
.footer-buses {
  font-size: 16px; }

#topText,
#languagesMenu,
#busesSearchBar,
#busesReadingList {
  float: right; }

@media screen and (max-width: 640px) {
  #topText,
  #busesSearchBar {
    display: none; } }

#busesSearchBar {
  margin-top: 0px !important;
  margin-right: 0px !important; }
  @media screen and (max-width: 767px) {
    #busesSearchBar {
      height: 100%;
      min-height: 50px; } }
  #busesSearchBar input[type="search"] {
    max-width: 125px; }
  #busesSearchBar input[type="search"],
  #busesSearchBar > button {
    min-height: 34px;
    border-radius: 0%; }
    @media screen and (max-width: 767px) {
      #busesSearchBar input[type="search"],
      #busesSearchBar > button {
        float: left; } }

#navigationMenu,
#button-toggle:hover,
#button-toggle:focus {
  background: #C62828 !important; }

#navigationMenu {
  margin-bottom: 0px;
  border-radius: 0px !important;
  min-height: 60px !important; }
  #navigationMenu #button-toggle {
    border: 2px solid #FFFFFF !important;
    border-radius: 8px !important; }
    @media screen and (max-width: 767px) {
      #navigationMenu #button-toggle {
        margin-top: 12px !important; } }

#navigationMenu,
.nav-button-menu {
  border: #C62828 !important; }

#languagesMenu,
.nav-button-menu,
#buyATicket,
#footer {
  background: #C62828; }

.nav-button-menu {
  padding-left: 0px !important;
  padding-right: 0px !important; }
  @media screen and (max-width: 767px) {
    .nav-button-menu {
      width: 100%;
      padding-left: 0px !important;
      padding-right: 0px !important;
      position: absolute;
      z-index: 1; } }

#buttonsNav,
.buttonsMenu,
.buttonsMenu > a:hover {
  min-height: 60px; }

#buttonsMenu a,
.footer-Reading {
  font-size: 17px; }

#languagesMenu {
  max-width: 100px;
  font-size: 15px;
  line-height: 25px;
  border: 1px solid #CCCCCC;
  margin: 15px 15px 0px 0px;
  padding: 5px; }
  @media screen and (max-width: 767px) {
    #languagesMenu {
      display: none; } }
  #languagesMenu > a {
    text-decoration: none;
    color: #FFFFFF !important; }
  #languagesMenu .caret-languages {
    margin-left: 5px; }
  #languagesMenu #languagesList {
    line-height: 20px;
    min-width: 98px;
    border-radius: 0px;
    padding: 10px;
    margin: 0px !important; }
    #languagesMenu #languagesList > li {
      margin-top: 10px; }
      #languagesMenu #languagesList > li:first-child {
        margin-top: 0px; }
      #languagesMenu #languagesList > li > img {
        max-width: 20px;
        min-height: 16px; }

#buttonsNav {
  max-width: 500px;
  float: none; }
  @media screen and (max-width: 767px) {
    #buttonsNav {
      max-width: 100%; } }
  #buttonsNav .buttonsMenu {
    line-height: 60px; }
    #buttonsNav .buttonsMenu > a {
      line-height: 25px;
      color: #FFFFFF !important; }
      @media screen and (max-width: 767px) {
        #buttonsNav .buttonsMenu > a {
          line-height: 38px; } }
      #buttonsNav .buttonsMenu > a:hover {
        background: #D32F2F;
        border-bottom: 5px solid #FF5252; }
        @media screen and (max-width: 767px) {
          #buttonsNav .buttonsMenu > a:hover {
            border-bottom: 0px; } }

#topText > p > span:hover,
#languagesList > li,
.bus-numbers > a:hover,
#footerIcons > img,
.footer-middle-list > li > a:hover,
#iconsBox > img:hover {
  cursor: pointer; }

#buyATicket > input,
#buyATicket > label,
#footerTexts,
#footerMiddle,
.footer-middle-list,
#footerIcons {
  float: left; }

.sitemap,
.useful-links,
.footer-Buses,
.great-knollys-street,
.telephone-number {
  font-size: 17px; }

#topSection > img[title="Logo"],
input[type="search"],
.buses-reading-list,
#footer,
#footerTexts {
  width: 100%;
  height: 100%; }

#middle {
  overflow: auto; }

#buyATicket {
  max-width: 360px;
  position: absolute;
  top: 180px;
  left: 40px;
  padding: 15px;
  color: #FFFFFF; }
  #buyATicket > div {
    margin-left: 10px;
    margin-right: 10px; }

#poster {
  min-height: 550px;
  background-image: url("../Images/poster.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  @media screen and (max-width: 799px) {
    #poster {
      display: none; } }

.back-button {
  margin: 1% 0% 1% 2%; }
  .back-button > span:nth-child(2) {
    margin-left: 5px; }

.buses-reading-list {
  max-width: 450px;
  max-height: 350px;
  overflow-y: scroll;
  margin: 2% 0%;
  border: 2px solid #CCCCCC; }
  @media screen and (max-width: 799px) {
    .buses-reading-list {
      margin: 2% auto;
      float: none; } }
  .buses-reading-list > .bus-details {
    margin-bottom: 0px !important; }
    .buses-reading-list > .bus-details > .bus-numbers,
    .buses-reading-list > .bus-details > .bus-destination {
      font-size: 18px; }
      @media screen and (min-width: 320px) and (max-width: 384px) {
        .buses-reading-list > .bus-details > .bus-numbers,
        .buses-reading-list > .bus-details > .bus-destination {
          font-size: 12px; } }
      @media screen and (min-width: 385px) and (max-width: 480px) {
        .buses-reading-list > .bus-details > .bus-numbers,
        .buses-reading-list > .bus-details > .bus-destination {
          font-size: 14px; } }
      @media screen and (min-width: 481px) and (max-width: 512px) {
        .buses-reading-list > .bus-details > .bus-numbers,
        .buses-reading-list > .bus-details > .bus-destination {
          font-size: 16px; } }
    .buses-reading-list > .bus-details > .bus-numbers > a {
      color: #000000; }
      .buses-reading-list > .bus-details > .bus-numbers > a:hover {
        text-decoration: none; }

#footer,
#footerContainer {
  min-height: 170px; }

#footer > #footerContainer {
  max-width: 1165px;
  overflow: hidden; }
  #footer > #footerContainer > #footerTexts {
    max-width: 385px;
    padding-top: 10px; }
    #footer > #footerContainer > #footerTexts > p {
      padding: 1% 0% 0% 1%; }
      #footer > #footerContainer > #footerTexts > p .sitemap {
        padding-right: 10px; }
      #footer > #footerContainer > #footerTexts > p .useful-links {
        padding-left: 10px; }
      #footer > #footerContainer > #footerTexts > p .footer-Reading {
        font-weight: bold; }
      #footer > #footerContainer > #footerTexts > p .footer-buses {
        color: #F7A600; }
  #footer > #footerContainer #footerMiddle {
    max-width: 420px; }
    #footer > #footerContainer #footerMiddle > .footer-middle-list {
      margin: 2% 0% 0% 10%; }

#footer,
.footer-middle-list > li > a {
  color: #FFFFFF; }

.footer-middle-list > li,
#followUsSection {
  margin-top: 3%; }

@media screen and (max-width: 767px) {
  #footerTexts,
  #footerMiddle {
    display: none; } }

#footerIcons {
  max-width: 350px;
  padding-top: 0.3%; }
  @media screen and (max-width: 767px) {
    #footerIcons {
      margin: auto;
      float: none; } }
  #footerIcons > #followUsSection > #iconsBox {
    max-width: 235px; }
    #footerIcons > #followUsSection > #iconsBox > .icons-box__img {
      max-width: 35px;
      min-height: 35px;
      margin-left: 3.5%; }

